services: []

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache

default:
  image: node:20
  before_script:
    - corepack enable
    - yarn set version stable
stages:
  - install
  - build
  - ocify
install:
  stage: install
  script:
    - yarn install
  cache:
    - key: node_modules
      paths:
        - node_modules
  artifacts:
    paths:
      - node_modules
build:
  stage: build
  script:
    - yarn build
    - NODE_ENV=production yarn start
  cache:
    - key: dist
      paths:
        - dist
  artifacts:
    paths:
      - ./.k8ts
ocify:
  image: registry.host/util/my-oras:latest
  stage: ocify
  variables:
    IMAGE_NAME: services
    IMAGE_TAG: latest
    MANIFEST_PATH: ./.k8ts
    IMAGE_TITLE: Laniakea
    AGENT_KUBECONTEXT: svc/monorepo
  before_script: []
  script:
    - oras login 
      --username="${CI_REGISTRY_USER}" 
      --password="${CI_REGISTRY_PASSWORD}" 
      --plain-http
      ${CI_REGISTRY}
    - oras push 
      --artifact-type application/vnd.oci.image.manifest.v1+json
      --plain-http 
      --annotation="org.opencontainers.image.url=${CI_PROJECT_URL}"
      --annotation="org.opencontainers.image.title=${IMAGE_TITLE}"
      --annotation="com.gitlab.job.id=${CI_JOB_ID}" --annotation="com.gitlab.job.url=${CI_JOB_URL}"
      ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA},latest
      ${MANIFEST_PATH}
