[Unit]
Description=Jackett Torrent Proxy Server
After=network.target

[Service]
User=search
Group=search
Type=simple
KillMode=process
ExecStart=/opt/jackett/jackett --NoRestart
Restart=on-failure
RestartSec=3
Nice=10

[Install]
WantedBy=multi-user.target
